
body {
    padding-top: 100px; /* Adjust according to header height */
}

.header {
    background-color: white;
    padding: 5px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to move to the next line on small screens */
    overflow: hidden; /* Prevents content overflow */
    position: fixed; /* Fix header at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other content */
  }
  
  .logo {
    height: 100%; /* Make the logo match the header height */
    width: auto; /* Keep the aspect ratio */
  }
  
  .navbar {
    flex-grow: 1; /* Allows navbar to take remaining space */
    display: flex;
    justify-content: space-evenly; /* Spread out navigation links evenly */
    align-items: center;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex; /* Make the list horizontal */
    gap: 150px; /* Space between links */
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 18px; /* Adjust text size */
  }
  
  .navbar a:hover {
    transform: scale(1.2); /* Increase size by 20% */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
  }
  
  .navbar a.active {
    font-weight: bold;
    color: blue; /* Highlight active page */
    border-bottom: 2px solid blue; /* Optional underline effect */
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #23204f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

select:hover {
    border-color: #3a3573;
}

  .card {
    background-color: #23204f;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
 
.tablecard{
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: auto;
  max-height: 400px; /* Adjust height */
  overflow-y: auto;  /* Enable vertical scrolling */
}


@media (max-width: 768px) {
  .hamburger {
    margin-right: 30px; /* Move more to the left on phone */
  }
}